#article-list {
  margin-top: 50px;
}
#article-list article {
  padding: 10px 0px;
}
#article-list header time {
  color: #08c;
}
#article-list footer .more-link {
  color: #fff;
}
#article-list footer .more-link hover {
  color: #fff;
}
#article-list footer .split-line {
  height: 1px;
  width: auto;
  background: #ccc;
  overflow: hidden;
  margin-top: 10px;
}
#sidebar {
  margin-top: 100px;
}
#widget_tagcloud #tagcloud_main {
  word-wrap: break-word;
  word-break: normal;
}
#widget_tagcloud #tagcloud_main a {
  margin-left: 3px;
  margin-right: 3px;
}
