.archive-title {
  margin-top: 80px;
}
#article-list {
  margin-top: 50px;
}
#article-list article {
  padding: 10px 0px;
}
#article-list header time {
  color: #08c;
}
#article-list .entry {
  text-align: justify;
  line-height: 1.6;
}
#article-list .entry p,
#article-list .entry blockquote,
#article-list .entry ul,
#article-list .entry ol,
#article-list .entry dl,
#article-list .entry table,
#article-list .entry iframe,
#article-list .entry h3,
#article-list .entry h4,
#article-list .entry h5,
#article-list .entry h6,
#article-list .entry .video-container {
  margin-top: 15px;
}
#article-list .entry blockquote {
  border-top: 1px solid color-border;
  border-bottom: 1px solid color-border;
  font-style: italic;
  font-family: font-serif;
  font-size: 1.2em;
  padding: 0 30px 15px;
  text-align: center;
}
#article-list .entry blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
#article-list .entry blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
#article-list .entry code,
#article-list .entry pre {
  font-family: font-mono;
}
#article-list .entry code {
  background: #eee;
  color: #666;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 0.9em;
  border: 1px solid color-border;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#article-list .entry pre {
  background: #eee;
  border: 1px solid color-border;
  margin-top: 15px;
  overflow: auto;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#article-list .entry pre code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#article-list .entry ul,
#article-list .entry ol,
#article-list .entry dl {
  margin-left: 20px;
}
#article-list .entry ul ul,
#article-list .entry ol ul,
#article-list .entry dl ul,
#article-list .entry ul ol,
#article-list .entry ol ol,
#article-list .entry dl ol,
#article-list .entry ul dl,
#article-list .entry ol dl,
#article-list .entry dl dl {
  margin-top: 0;
}
#article-list .entry h1,
#article-list .entry h2 {
  font-weight: normal;
  border-bottom: 1px solid color-border;
  padding-bottom: 10px;
  margin-top: 20px;
}
#article-list .entry h3,
#article-list .entry h4,
#article-list .entry h5,
#article-list .entry h6 {
  font-weight: normal;
}
#article-list .entry img,
#article-list .entry video {
  max-width: 100%;
  height: auto;
  border: none;
}
#article-list .entry iframe {
  border: none;
}
#article-list .entry .caption {
  display: block;
  margin-top: 5px;
  color: color-meta;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
#article-list .entry .caption:before {
  content: '\f040';
  position: absolute;
  font: 1.3em font-icon;
  position: absolute;
  left: 0;
  top: 3px;
}
#article-list .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#article-list .entry .video-container iframe,
#article-list .entry .video-container object,
#article-list .entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
#article-list .entry .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
#article-list footer .more-link {
  color: #fff;
}
#article-list footer .more-link hover {
  color: #fff;
}
#article-list footer .split-line {
  height: 1px;
  width: auto;
  background: #ccc;
  overflow: hidden;
  margin-top: 10px;
}
#sidebar {
  margin-top: 100px;
}
#widget_tagcloud #tagcloud_main {
  word-wrap: break-word;
  word-break: normal;
}
#widget_tagcloud #tagcloud_main a {
  margin-left: 3px;
  margin-right: 3px;
}
